.form-page form {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
}

.form-page {
  padding-top: 1rem;
  height: 100%;
  background-color: rgba(35, 34, 34, 0.6);
  .form-container {
    color: #fff;
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 1rem 0;
    input {
      margin: 0.5rem;
    }
  }
  .register-button {
    margin: 0.5rem;
    margin-bottom: 0.75rem;
  }
  .register-image {
    border-radius: 1rem;
    border: 0.25rem solid rgba(0,0,0,0.6);
    margin-bottom: 0.5rem;
  }
}

.form-carousel {
@media (max-width: 768px) {
  .register-carousel {
    .register-carousel-image {
      max-height: 30rem;
      overflow: hidden;
    }
  }
}
}

@media (min-width: 769px) {
  .form-carousel {
    display: none;
  }
  .form-page {
    .form-container {
      input {
        margin-top: 1.25rem;
      }
    }
    .register-button {
      margin-top: 1.25rem;
    }
  }

}

.error {
  color: rgb(160, 12, 12);
}