.musicals {
  height: 100vh;
  .musical-carousel {
    height: 80vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    // border-radius: 0.25rem;
  }
  .musicals-title {
    display: flex;
    justify-content: space-between;
    .titles {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
    @extend %title-container;
    h1, h2 {
      color: #fff;
      margin-left: 0.5rem;
    }
    .logo-image {
      @extend %musical-logo;
      margin: 0;
      height: 5.75rem;
    }
  }
  .all-musicals {
    color: #000;
    text-decoration: none;
  }
}

@media (max-width: 914px) {
  .musicals-title {
    height: 7rem;
  }
}

.icons-container {
  display: flex;
  justify-content: space-between;
}

.genres-container, .prices-container {
  height: 5rem;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  background-color: rgba(0, 0, 0, 0.8);
  box-shadow: 0 0.75rem 0.75rem rgba(0, 0, 0, 0.8);
  display: flex;
  .icon {
    height: 4rem;
  }
}

.genres-container {
  justify-content: flex-end;
}

.prices-container {
  justify-content: flex-start;
}

@media (max-width: 580px) {
  .logo-image {
    max-width: 4rem;
    max-height: 54em;
  }
  .all-theatres {
    display: none;
  }
}

@media (min-width: 915px) {
  .musical-carousel {
    background-position: top;
  }
  .musicals-title {
    height: 4rem;
    }
    h1 {
      font-size: 2rem;
    }
    h2 {
      display: none;
    }
  }
