@media (min-width: 300px) and (max-width: 400px) {
  .comments-tickets-container {
    margin-top: 60%;
  }
}

@media (min-width: 401px) and (max-width: 480px) {
  .comments-tickets-container {
    margin-top: 40%;
  }
}

@media (min-width: 481px) and (max-width: 489px) {
  .comments-tickets-container {
    margin-top: 30%;
  }
}

@media (min-width: 490px) and (max-width: 540px) {
  .comments-tickets-container {
    margin-top: 25%;
  }
}

@media (min-width: 541px) and (max-width: 600px) {
  .comments-tickets-container {
    margin-top: 15%;
  }
}


@media (min-width: 601px) and (max-width: 670px) {
  .comments-tickets-container {
    margin-top: 10%;
  }
}

@media (max-width: 768px) {
  .main-container {
    .action-image {
      display: none;
    }
    .video-comments-container {
      display: block;
      margin: 1rem;
      position: relative;
      padding-top: 56.25%;
      .musical-video {
        position: absolute;
        top: 0;
        left: 0;
      }
    }
  }
}

@media (min-width: 769px) and (max-width: 900px) {
  .main-container {
    .action-image {
      display: none;
    }
    .video-comments-container {
      display: block;
      width: 90%;
      margin: 1rem;
      .musical-video {
        margin-bottom: 0.25rem;
      }
    }
  }
  .comments-tickets-container {
    margin-top: 3%;
  }
}

@media (min-width: 901px) {
  .video-comments-container {
    display: flex;
    margin: 1rem;
    .musical-video {
      margin-right: 1rem;
    }
  }
}

.hidden {
  display: none;
}

.main-container {
  margin: 1rem;
}

.title-logo-container {
  display: flex;
  justify-content: space-between;
  text-align: center;
  height: 20rem;
  background-repeat: no-repeat;
  background-size: cover;
  .logo-image {
    @extend %musical-logo;
    transition: all 0.6s ease-in-out, outline 0.6s ease-in-out;
    &:hover {
      outline: solid #fff;
      outline-width: 0.25rem;
    }
  }

  .title-container {
    @extend %title-container;
    margin-left: 0.5rem;
    height: 9rem;
    h1.musical-name {
      margin-left: 1rem;
    }
  }
}

.user-comment {
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.6) 0%, rgb(245, 188, 188, 0.6) 35%, rgb(239, 222, 186, 0.6) 100%);
  padding: 1rem;
  border-radius: 0.25rem;
  box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.5);
}

.musical-description {
  font-size: larger;
  padding-top: 1rem;
  color: #fff;
  margin-bottom: 0;
}

.musical-description-author {
  font-size: medium;
  color: #fff;
  padding-top: none;
  font-style: italic;
}

.musical-video {
  border-radius: 0.5rem;
  box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.5);
  outline: solid 0.25rem #fff;
}

.join-conversation {
  margin-top: 0.5rem;
}

.log-out-container {
  margin: 0.5rem;
  display: flex;
  justify-content: space-between;
}

.genres-pricing-container {
  h4, p {
    color: #fff;
  }
  @media (min-width: 769px) {
    margin-left: 0.5rem;
    .musicals-pricing {
      span {
        display: none;
      }
    }
  }
  @media (max-width: 768px) {
    display: flex;
    justify-content: space-evenly;
  }
}